@model IEnumerable<WuyiDAL.Models.PlaylistSong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Playlist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Playlist.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Song.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
